/* Couleurs */
$color-white: #fdfefe;
$color-red: #e63946;
$color-greyBlue: #62748e;
$color-darkBlue: #1d3557;
$color-lightBlue: #a8dadc;
$color-blue: #457b9d;
$color-logoSation: #339ece;
$color-grey: #f1f5f9;
$color-greySlider: #fdfefe;

/* Fonts */
$font-main: 'Inter', sans-serif;
